@model IEnumerable<API_Ajax.Models.Product>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/plugins/mustache.min.js"></script>
    <script src="~/Scripts/plugins/jquery.twbsPagination.min.js"></script>
    <script src="~/Scripts/HomeScript/product.js"></script>
    <script>
        var ctl = new productController();
        ctl.Init();
    </script>
}


<h2>Product Management</h2>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <td><input id="txtId" class="form-control" type="number" placeholder="ID..." disabled /></td>
                <td><input id="txtName" class="form-control" type="text" placeholder="Enter product name..." /></td>
                <td><input id="txtPrice" class="form-control" type="number" placeholder="Enter price..." /></td>
                <td><label>Stocking</label><input id="productStatus" class="checkbox" checked="checked" type="checkbox"></td>
            </tr>
            <tr>
                <td>
                    <input class="text-center btn btn-primary" type="button" value="Create" id="createProduct" />
                </td>
                <td>
                    <input class="text-center btn btn-primary" type="button" value="Update" id="updateProduct" />
                </td>
                <td>
                    <input class="text-center btn btn-primary" type="button" value="Delete" id="deleteProduct" />
                </td>
                <td>
                    <input class="text-center btn btn-primary" type="button" value="Search" id="searchProduct" />
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
    <!-------------------------------------------------->
    <!--<div class="col-sm-7">-->   
        <div class="pagination" id="pagination">
         
        </div>
    <!--</div>-->
    <!--do data vao tbody(id = tbody)!-->
    <script id="data-template" type="x-tmpl-mustache">
        <tr data-id="{{Id}}" class="singleProduct">
            <td>{{Name}}</td>
            <td>{{Price}}</td>
            <td>{{{Status}}}</td>
            <td></td>
        </tr>
    </script>
</div>
