
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<VDdemo.Models.User> lstUser = ViewBag.lstUser;
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<h2>Index</h2>
<div>
    <button>Load data from another page</button>
</div>
<div id="bai1"></div>
<div id="bai2">
    <p>Exercise 2: </p>
</div>


<table class="table" id="tableBai2">
    <tr>

        <th>
            Name
        </th>
        <th>
            Age
        </th>
        <th>
            Gender
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th></th>
    </tr>

   
</table>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Basic information</legend>
        <table>
            <tr>
                <td>username</td>
                <td><input type="text" name="username" value="huyratio" /></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="password" name="password" value="abc123" /></td>
            </tr>
            <tr>
                <td>fullname</td>
                <td><input type="text" name="fullname" value="Nguyễn Văn Huy" /></td>
            </tr>
            <tr>
                <td>gender</td>
                <td><input type="text" name="gender" value="Nam" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="submit" value="submit" id="register" /></td>
            </tr>
        </table>
    </fieldset>
}

<table class="table" id="userTable">
    <tr>
        <th>username</th>
        <th>password</th>
        <th>fullname</th>
        <th>gender</th>
        <th></th>
    </tr>

</table>

<script type="text/javascript">
    function sendRequest() {
        $.ajax({
            url: '@Url.Action("displaySecond","StudentInfor")',
            type: 'get',
            success: function (data) {
                if (data == "") alert("list user empty");
                else {
                    $("#userTable").empty();
                    //$("#userTable").addClass("table");
                    $("#userTable").append(data);
                    setTimeout(function () {
                        sendRequest();
                    }, 10000);
                }
            }
        });
    }
    $(function () {        
            sendRequest();
        });
</script>
<script type="text/javascript">
   
    $(function () {
        $("button").click(function () {
            $.ajax({
                url: '@Url.Action("infor","Home")',
                type: 'GET',
                success: function (data) {
                    $('#bai1').html(data);
                }

            });
        });        
                  
       
        $.ajax({
            url: '@Url.Action("bai2", "StudentInfor")',
            type: 'post',
            success: function (data) {
                $.each(data, function (key, value) {                   
                        //console.log(value.Name);
                    var rs = "<tr><td>" + value.Name + "</td><td>" + value.Age + "</td><td>" + value.Gender + "</td><td>" + value.Email + "</td><td>" + value.Phone + "</td></tr>";
                    $("#tableBai2").append(rs);                                       
                });
            }
           });
        });
   
    $("#register").click(function (e) {
        e.preventDefault();
            var user = {
                username: $("input[name='username']").val(),
                password: $("input[name='password']").val(),
                fullname : $("input[name='fullname']").val(),
                gender : $("input[name='gender']").val()
        }       
        $.ajax({
            url: '@Url.Action("laydulieu", "StudentInfor")',
            data: { lst: JSON.stringify(user) },
            type: "POST",
            success: function (data) {
                if (data == false) {
                    alert("user da ton tai"); return;
                } else {
                    //$('#userTable').append(data);
                    //alert("submit thanh cong");
                    //return;
                }
            },
                error: function () {
                    console.log("error");
                }
            });
        });
</script>